%h1{:align => "center"} Builded Projects
%table{:align => "center"}
  %tr
    - @projects[0].attributes.each_key do |atr|
      - if "#{atr}" != "pass" and "#{atr}" != "id"
        %th= atr.capitalize
    %th{:colspan => "3"} Actions 
    - @projects.each do |prj|
      %tr
      - prj.attributes.each_pair do |key,val|
        - if "#{key}" != "pass" and "#{key}" != "id"
          %td= val
      %td
        %a{:href => "/project/show/#{prj.id}"} Details
      %td
        %a{:href => "/project/edit/#{prj.id}"} Edit
      %td
        %a{:href => "/project/delete/#{prj.id}", :method => "delete" } Delete
