%p.page_title Builded Projects
%table{:align => "center"}
  %tr
    - @projects[0].attributes.each_key do |atr|
      - if "#{atr}" != "pass" and "#{atr}" != "id"
        %th= atr.capitalize
    %th{:colspan => "3"} Actions 
    - @projects.each do |prj|
      %tr
      - prj.attributes.each_pair do |key,val|
        - if "#{key}" != "pass" and "#{key}" != "id"
          %td= val
      %td
        %a{:href => "/project/show/#{prj.id}"}
          %img{:src => '/img/loupe.png',:alt => 'Details', :border => 0}
      %td
        %a{:href => "/project/edit/#{prj.id}"}
          %img{:src => '/img/crayon.png',:alt => 'Edit', :border => 0}
      %td
        %a{:href => "/project/delete/#{prj.id}", :method => "delete" }
          %img{:src => '/img/delete.png',:alt => 'Remove', :border => 0}
