%p.page_title Build Summary

%table{:align => 'center'}
  %th
  - @projects.each do |prj|
    %th #{prj.name}
  %tr
  - @slaves.each do |slv|
    %th #{slv.name}
    - @projects.each do |prj|
      - if bld = @builds.first(1,{:slave_id => slv.id, :project_id => prj.id })
        - if bld.first 
          - if bld.first.result == 0
            %td 
              %font{:color => "green"}
                %a{:href => "build/show/#{bld.first.id}/#{slv.id}/#{prj.id}"} SUCCESS
          -else
            %td 
              %font{:color => "red"}
                %a{:href => "build/show/#{bld.first.id}/#{slv.id}/#{prj.id}"} FAILED
        - else
          %td
            %i No build
    %tr
