%p.page_title Build Slaves
%table{:align => "center"}
  %tr
    - @slaves[0].attributes.each_key do |atr|
      - if "#{atr}" != "pass" and "#{atr}" != "id"
        %th= atr.capitalize
    %th{:colspan => '3'} Actions
    - @slaves.each do |slv|
      %tr
      - slv.attributes.each_pair do |key,val|
        - if "#{key}" != "pass" and "#{key}" != "id"
          %td= val
      %td
        %a{:href => "/slave/show/#{slv.id}"}
          %img{:src => '/img/loupe.png',:alt => 'Details', :border => 0}
      %td
        %a{:href => "/slave/edit/#{slv.id}"}
          %img{:src => '/img/crayon.png',:alt => 'Edit', :border => 0}
      %td
        %a{:href => "/slave/delete/#{slv.id}", :method => "delete" }
          %img{:src => '/img/delete.png',:alt => 'Remove', :border => 0}
